.container {
  padding: 0.2em;
  border: 7px solid orange;
  margin-bottom: 0.5em;
  line-height: 1;
  font-size: 0.8em;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 4px;
}

.table th[rowspan],
.table th[colspan],
.table td[colspan]:nth-last-of-type() {
  text-align: center;
}

.table td {
  text-align: left;
}

.table td.centered {
  text-align: center;
}

.table thead {
  background-color: #fbe4d5;
}

.noWrap {
  white-space: nowrap;
}
