.title {
    font-size: 3em;
    font-weight: bold;
    color: #FF9900;
    text-shadow: 0.05em 0.05em 0 #000;
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
}

.box {
    border: 7px solid orange;
    border-radius: 1em;
    margin-bottom: 0.5em;
}