.footer {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin: 0.5em 0;
    width: 100%;
}

.box {
    width: 190px;
    height: 60px;
    padding: 0.1em;
    background-color: #F3E2B3;
    font-size: 0.8em;
    border-radius: 1em;
}

.box label {
    display: block;
    margin-bottom: 0.5em;
}

.box input {
    width: 85%;
}